@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title</h2>
<h3>Desarrollado por OSConsulting</h3>

<address>
    <strong>Soporte:</strong>   <a href="mailto:sat@osconsulting.es">sat@osconsulting.es</a><br />

</address>